<nav class="navbar navbar-dark bg-dark">
    <div class="btn-group">
       <a routerLink="" style="text-decoration:none; color: ivory;">Home</a>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Login
        </button>
        <ul class="dropdown-menu">
          
          <li><a class="dropdown-item" routerLink="/student-login">Login as student/trainer</a></li>
          
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" routerLink="/admin-login">Admin</a></li>
        </ul>
      </div> 
      
    <div d-flex>
        <ul class="list-inline" id="icons">
            <li><span class="social-icon social-facebook"><i class="fa fa-facebook"></i></span></li>
            <li><span class="social-icon social-google"><i class="fa fa-google"></i></span></li>
            <li><span class="social-icon social-linkedin"><i class="fa fa-linkedin"></i></span></li>
            <li><span class="social-icon social-instagram"><i class="fa fa-instagram"></i></span></li>
            <li><span class="social-icon social-twitter"><i class="fa fa-twitter"></i></span></li>
        </ul>
    </div>
        
    
  </nav>

<!-- <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="/Frontend/project-blog/src/assets/deer.jpg" alt="logo"> -->
            <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> -->
            <!-- <a class="navbar-brand page-scroll" href="#first"><i class="ion-ios-analytics-outline"></i> Landing Zero</a>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Login
            </button>
            <ul class="dropdown-menu">
              
              <li><a class="dropdown-item" href="#">Login as student</a></li>
              <li><a class="dropdown-item" href="#">Login as Trainer</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Admin</a></li>
            </ul>
          </div> -->

        <!-- <div class="navbar-collapse collapse" id="bs-navbar">
            <ul class="nav navbar-nav">
                <li>
                    <a class="page-scroll" href="#one">Intro</a>
                </li>
                <li>
                    <a class="page-scroll" href="#two">Highlights</a>
                </li>
                <li>
                    <a class="page-scroll" href="#three">Gallery</a>
                </li>
                <li>
                    <a class="page-scroll" href="#four">Features</a>
                </li>
                <li>
                    <a class="page-scroll" href="#last">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" data-toggle="modal" title="A free Bootstrap video landing theme" href="#aboutModal">About</a>
                </li>
            </ul>
        </div> -->
    
